[submodule "runtime"]
	path = runtime
	url = https://github.com/giritrivedi/runtime
[submodule "netcoredbg"]
	path = netcoredbg
	url = https://github.com/giritrivedi/netcoredbg
[submodule "diagnostics"]
	path = diagnostics
	url = git@github.com:giritrivedi/diagnostics.git
